@import "../utils/mixins.scss";

.section1{
    @include greybackcolor;
}
.explorer{
    text-align: center;
    padding-bottom: 20px;
    & button{
    border: none;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    @include gradient;
    transition: all 200ms;
    @include shadowbase;
    cursor: pointer;
    }
    & p{
        margin: 10px;
    }
    & button:hover{
    opacity: 0.8;
    transform: scale(1.02);
    }
}