.explorer{
    text-align: center;
    & button{
    border: none;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom,#FF79DA, #9356DC);
    box-shadow: 4px 4px 10px 0px rgba(132,132,132,0.67);
    transition: all 200ms;
    }
    & button:hover{
    transform: scale(1.02);
    }
}