@import "../utils/mixins.scss";

.fonctionnement{
    & h2{
        @media (max-width: 860px) {
            margin-left: 15px;
    }
    }
    & ol{
        display: flex;
        gap: 20px;
        @media (max-width: 860px) {
            flex-direction: column;
}
    }
    & li{
        position: relative;
        @include greybackcolor;
        padding: 15px 20px;
        flex-grow: 1;
        border-radius: 15px;
        list-style-type: none;
        font-weight: bold;
        @media (max-width: 860px) {
            margin-right: 20px;
    }
        @include shadowbase;
        cursor: pointer;
        &:hover{
            background-color: lighten(#9356dc, 35%);
            transform: scale(1.02);
            i{
            color: #9356DC;
            }
        }
    }
    & i{
        margin-right: 10px;
        color: gray;
        }
    
    & .list{
        background-color: #9356DC;
        color: white;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        bottom: 15px;
        left: -10px;
        font-weight: normal;
    }
}

