@import "../utils/mixins.scss";

.paris{
    @include greybackcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    & i{
    padding: 10px 20px 10px 0px;
    font-size: x-large;
}
}