@import "../variable/box-shadow.scss";

.fonctionnement{
    & ol{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 780px) {
            flex-direction: column;
}
    }
    & li{
        background-color: #f2f2f2;
        padding: 15px 10px;
        flex-grow: 1;
        border-radius: 15px;
        @include shadowbase;
    }
}

