@import "../utils/mixins.scss";
@import "../utils/variables.scss";

#bodyrestaurant{
    @include greybackcolor;
    & header{
        background-color: white;
    }
}

.bannière img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    
}


.main-restaurant{
    max-width: 600px;
    margin: auto;
    position: relative;
    margin-top: -35px;
    border-radius: 30px 30px 0 0;

    & h2{
    margin: 0;
    padding: 15px;
    font-family: "Shrikhand", "sans-serif";
    font-weight: lighter;
    @include greybackcolor;
    border-radius: 30px 30px 0 0;
}
        & .heart{
        font-size: 25px;
        position: absolute;
        right: 20px;
        top: 20px; 
        & .fa-solid{
        position: absolute;
        right: 0px;
        top: 0px;
        color: transparent;
        @include gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 500ms;
        &:hover{
            opacity: 1;
            transform: scale(1.2);
        }
        
    }
}
}

.menus-restaurant{
    max-width: 600px;
    @include greybackcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
    padding: 10px;
    & .repas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
        & h3{
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color: var(--tertiaire);
            height: 3px;
            width: 50px;
            top: 25px;
            left: 1px;
        }
        }
        & .plat{
        @for $i from 1 through 4{
        &:nth-child(#{$i}){
        animation-delay: 150ms * $i;
        }
        }
        background-color: white;
        border-radius: 15px;
        @include shadowbase;
        display: flex;
        align-items: flex-end;
        justify-content: space-between; 
        max-height: 61px;
        overflow: hidden;
        animation: apparition 2s;
        animation-fill-mode: backwards;
        cursor: pointer;
            & .unique{
            padding: 10px 20px 10px 10px;
            overflow: hidden;
                & h4, p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                }
            }
            & .prix{
            font-weight: bold;
            margin-left: auto;
            padding: 0 10px 10px 10px;
            }
            & .check{
                background-color: var(--tertiaire);
                color: white;
                padding: 20px;
                border-radius: 0 15px 15px 0;
                margin-right: -61px;
                transition: all 0.5s;
                & i{
                font-size: larger;
                }
            }
            &:hover {
                .check{
                margin-right: 0px;
            }
            & i{
            @include tournante;
            animation: tournante 0.5s ease-in-out;
            }
            }
        }
    }
}


.commande{
    text-align: center;
    padding: 30px;
    @include greybackcolor;
& button{
    border: none;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    @include gradient;
    transition: all 200ms;
    @include shadowbase;
    cursor: pointer;
}
& button:hover{
    opacity: 0.8;
    transform: scale(1.02);
}
}

