@charset "UTF-8";
@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
}

#bodyrestaurant {
  background-color: #f2f2f2;
}

#bodyrestaurant header {
  background-color: white;
}

.bannière img {
  display: block;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-restaurant {
  max-width: 600px;
  margin: auto;
  position: relative;
  margin-top: -35px;
  border-radius: 30px 30px 0 0;
}

.main-restaurant h2 {
  margin: 0;
  padding: 15px;
  font-family: "Shrikhand", "sans-serif";
  font-weight: lighter;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
}

.main-restaurant .heart {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.main-restaurant .heart .fa-solid {
  position: absolute;
  right: 0px;
  top: 0px;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--secondaire)), to(var(--primaire)));
  background-image: linear-gradient(to bottom, var(--secondaire), var(--primaire));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.main-restaurant .heart .fa-solid:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menus-restaurant {
  max-width: 600px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  gap: 30px;
  padding: 10px;
}

.menus-restaurant .repas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.menus-restaurant .repas h3 {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.menus-restaurant .repas h3::after {
  content: "";
  position: absolute;
  background-color: var(--tertiaire);
  height: 3px;
  width: 50px;
  top: 25px;
  left: 1px;
}

.menus-restaurant .repas .plat {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(132, 132, 132, 0.67);
          box-shadow: 4px 4px 10px 0px rgba(132, 132, 132, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 61px;
  overflow: hidden;
  -webkit-animation: apparition 2s;
          animation: apparition 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  cursor: pointer;
}

.menus-restaurant .repas .plat:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.menus-restaurant .repas .plat:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menus-restaurant .repas .plat:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.menus-restaurant .repas .plat:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menus-restaurant .repas .plat:nth-child(5) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.menus-restaurant .repas .plat .unique {
  padding: 10px 20px 10px 10px;
  overflow: hidden;
}

.menus-restaurant .repas .plat .unique h4, .menus-restaurant .repas .plat .unique p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.menus-restaurant .repas .plat .prix {
  font-weight: bold;
  margin-left: auto;
  padding: 0 10px 10px 10px;
}

.menus-restaurant .repas .plat .check {
  background-color: var(--tertiaire);
  color: white;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  margin-right: -61px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menus-restaurant .repas .plat .check i {
  font-size: larger;
}

.menus-restaurant .repas .plat:hover .check {
  margin-right: 0px;
}

.menus-restaurant .repas .plat:hover i {
  -webkit-animation: tournante 0.5s ease-in-out;
          animation: tournante 0.5s ease-in-out;
}

@-webkit-keyframes tournante {
  0% {
    -webkit-transform: rotate(-280deg);
            transform: rotate(-280deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes tournante {
  0% {
    -webkit-transform: rotate(-280deg);
            transform: rotate(-280deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.commande {
  text-align: center;
  padding: 30px;
  background-color: #f2f2f2;
}

.commande button {
  border: none;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--secondaire)), to(var(--primaire)));
  background-image: linear-gradient(to bottom, var(--secondaire), var(--primaire));
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(132, 132, 132, 0.67);
          box-shadow: 4px 4px 10px 0px rgba(132, 132, 132, 0.67);
  cursor: pointer;
}

.commande button:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
/*# sourceMappingURL=restaurant.css.map */